<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
 <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> 
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Bxslider css -->
<link rel="stylesheet" href="catalog/view/theme/akvan/stylesheet/jquery.bxslider.css">
<!-- General css -->
<link rel="stylesheet" href="catalog/view/theme/akvan/stylesheet/general.css">

<!-- <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script> -->
<script src="catalog/view/javascript/general.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery.bxslider.js" type="text/javascript"></script>
<script src="catalog/view/javascript/jquery.arcticmodal-0.3.min.js" type="text/javascript"></script>

{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
 <script src="catalog/view/javascript/common.js" type="text/javascript"></script> 
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
  <!-- Header begin -->
	<header>
		<div class="container">
			<!-- Top header begin -->
			<div class="top clearfix">
				<!-- Catalog main menu begin -->
				<div class="catalog-menu pull-left">
					<span>Выпадающий каталог</span>
					<ul class="dropdown">
						<li><a href="javascript:void(0)">Двигатель, узлы</a></li>
						<li><a href="javascript:void(0)">Трансмиссия</a></li>
						<li><a href="javascript:void(0)">Тормозные системы</a></li>
						<li><a href="javascript:void(0)">Подвеска</a></li>
						<li class="parent"><a href="javascript:void(0)">Электроника</a>
							<div class="dropdown-sub">
								<ul>
									<li><a href="javascript:void(0)">Двигатель, узлы и агрегаты</a></li>
									<li><a href="javascript:void(0)">Трансмиссия</a></li>
									<li><a href="javascript:void(0)">Тормозные системы</a></li>
									<li><a href="javascript:void(0)">Подведска</a></li>
									<li><a href="javascript:void(0)">Электроника</a></li>
									<li><a href="javascript:void(0)">Интерьер</a></li>
									<li><a href="javascript:void(0)">Кузов</a></li>
									<li><a href="javascript:void(0)">Выпускная система</a></li>
									<li><a href="javascript:void(0)">Впуск и система охаждения</a></li>
								</ul>
							</div>
						</li>
						<li><a href="javascript:void(0)">Интерьер</a></li>
						<li><a href="javascript:void(0)">Кузов</a></li>
						<li><a href="javascript:void(0)">Выпускная система</a></li>
					</ul>
				</div>
				{% if logged %}
				<div class="login pull-left">
					<div><a href="{{ account }}" title="{{ text_account }}" >{{ text_account }}</a></div>
					<div> <a href="{{ logout }}">{{ text_logout }}</a> </div>
				</div>
				{% else %}
				<!-- Catalog main menu end -->
				<!-- Form authorization begin -->
				<form action="{{ login }}" method="post" class="pull-left" enctype="multipart/form-data">
					<label for="auth_login">Логин:</label>
					<input type="text" id="auth_login" name="email">
					<label for="auth_password">Пароль:</label>
					<input type="password" id="auth_password" name="password">
					<input class="submit-btn" type="submit" name="authorization" value="">
				</form>
				<!-- Form authorization end -->
				<!-- Block register/forgot/question begin -->
				<div class="login pull-left">
					<div><a href="{{ register }}" title="Регистрация">Регистрация</a></div>
					<div><a href="{{ forgotten }}" title="Напомнить пароль">Напомнить пароль</a></div>
				</div>
				{% endif %}
				<div class="question pull-left">
					<a href="javascript:void(0)" title="Задать вопрос">Задать вопрос</a>
				</div>
				<!-- Block register/forgot/question end -->
				<!-- Cart begin -->
				{{ cart }}
				
				<!-- Cart end -->
			</div>
			<!-- Top header end -->
			<!-- Bottom header begin -->
			<div class="bottom clearfix">
				<a href="/" class="logo pull-left" title="logotip">Интернет магазин тюнинга</a>
				<!-- Main menu begin -->
					{% if informations %}
      <nav class="main-menu pull-right">
          <ul>
            {% for information in informations %}
              <li><a href="{{ information.href }}" title="{{ information.title }}">{{ information.title }}</a>
                {% if information.child_ids %}
                  <ul class="dropdown">
                    {% for information_child in information.childs  %}
                      <li><a href="{{ information_child.href }}" title="{{ information_child.title }}">{{ information_child.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
				<!-- Main menu end -->
				<!-- Filter+search begin -->
				<div class="filter pull-right clearfix">
					<!-- Search beginn -->
					
					{{ search }}
					<!-- Search end -->
					<!-- Filter begin -->
					<div class="select pull-right">
					 {% for filter_group in filter_groups %} 
						<select name="filter[]" id="filter-group{{ filter_group.filter_group_id }}">
								<option disabled selected>{{ filter_group.name }}</option>
								{% for filter in filter_group.filter %} 
								{% if filter.filter_id in filter_category %}
								<option value="{{ filter.filter_id }}" selected>{{ filter.name }}</option>
								 {% else %}
								<option value="{{ filter.filter_id }}">{{ filter.name }}</option>
								 {% endif %}
								 {% endfor %} 
							</select>
						{% endfor %} 
						<input class="submit-btn" id="button-filter" type="submit" name="select-btn" value="">
					</div>
					<!-- Filter end -->
				</div>
			</div>
			<!-- Bottom header end -->
		</div>
	</header>
	<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	filter = [];

	$('select option:selected').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 