<!-- Sidebar begin -->
        <div class="sidebar pull-left">
          <div class="left-menu">
            <span>Каталог продукции</span>
            <ul class="menu-accordion">
              {% for category in categories %}
                <li><a href="{{ category.href}}">{{ category.name }}</a>
                  {% if category.children %}
                    <ul class="dropdown">
                      {% for child in category.children %}
                        <li><a href="{{ child.href }}">{{ child.name }}</a>
                          {% if child.children %}
                            <ul class="dropdown">
                              {% for grandchildren in child.children %}
                                 <li><a href="{{ grandchildren.href }}">{{ grandchildren.name }}</a></li>
                              {% endfor %}
                            </ul>
                           {% endif %}
                          </li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
<!-- Sidebar end -->